/decisiontree-frontend/node
/decisiontree-backend/target
/decisiontree-frontend/node_modules
/decisiontree-frontend/.nx/cache/
/decisiontree-backend/target/*
/decisiontree-backend/src/main/resources/static/react
/decisiontree-frontend/node/*
